<table width="100%" cellspacing="0" cellpadding="0">
	<tbody>
		<tr>
			<td>
				<table width="100%" style="min-width:320px;max-width:600px;margin:0 auto;text-align:center;" cellpadding="0" cellspacing="0">
					<thead>
						<tr>
							<td>
								<img style="max-height:70px; margin:15px auto;" src="https://s3-eu-west-1.amazonaws.com/resources.sweetsuomi.com/images/logo_img.png"
								/>
							</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<table width="100%" style="background-color:white;text-align:center;color:#333;" cellpadding="0" cellspacing="0">
									<tr>
										<td>
											<b>
												<p style="width:80%;margin: 0 auto;padding:0 0 10px 0;">Atención cocina! Tenemos un nuevo pedido!</p>
											</b>
										</td>
									</tr>
									<tr>
										<td>
											<table width="100%">
												<tr>
													<td>
														<b>
															<p style="width:80%;margin: 0 auto;padding:0 0 10px 0;">Hora de entrega: {{time}}</p>
														</b>
													</td>
													<td>
														<b>
															<p style="width:80%;margin: 0 auto;padding:0 0 10px 0;">Usuario: {{nickname}}</p>
														</b>
													</td>
												</tr>
											</table>
										</td>
									</tr>
									{{{dishes}}}
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>